-r requirements-build.in

Pygments==2.13.0
Werkzeug==2.2.2
bandit==1.7.4
black==21.6b0
coverage==6.5.0
django-debug-toolbar==3.8.1
django-extensions==3.2.1
docker-compose==1.29.2
fabric==2.7.1
invoke==1.7.3
isort==5.11.2
model-bakery==1.9.0
pip-tools==6.11.0
pre-commit==2.20.0
pylama==8.4.1
pylint-celery==0.3
pylint-django==2.5.3
pylint==2.15.8
pytest-cov==4.0.0
pytest-django==4.5.2
pytest-mock==3.10.0
pytest==7.2.0
radon==5.1.0
safety==2.3.5
