name: Run python linters

on:
  pull_request:
    branches:
      - master
    paths:
      - '**/*.py'

jobs:
  lint-python:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Install dependencies
      working-directory: api
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements-dev.txt
    - name: Run linters
      run: |
        isort --check .
        pylama
